{% if items %}
  <nav class="m-pager" role="navigation">
    <div class="m-pager__controls">
      <div class="m-pager__item{% if not items.first %} m-pager__item--inactive{% endif %}">
        {% if items.first %}
          <a href="{{ items.first.href }}" title="{{ 'Go to first page'|t }}"{{ items.first.attributes.addClass('m-pager__link')|without('href', 'title') }}>
            <span class="visually-hidden">{{ 'First page'|t }}</span>
        {% endif %}
        {% include '@atoms/icon/a-icon.html.twig' with {
          attributes: create_attribute().addClass('m-pager__icon'),
          icon: 'arrow',
          skilld_svg_sprite: skilld_svg_sprite,
        } %}
        {% if items.first %}
          </a>
        {% endif %}
      </div>
      <div class="m-pager__item{% if not items.previous %} m-pager__item--inactive{% endif %}">
        {% if items.previous %}
          <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes.addClass('m-pager__link')|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Previous page'|t }}</span>
        {% endif %}
        {% include '@atoms/icon/a-icon.html.twig' with {
          attributes: create_attribute().addClass('m-pager__icon'),
          icon: 'chevron',
          skilld_svg_sprite: skilld_svg_sprite,
        } only %}
        {% if items.previous %}
          </a>
        {% endif %}
      </div>
    </div>
    <ul class="m-pager__pages js-pager__items">
      {% if ellipses.previous %}
        <li class="m-pager__item" role="presentation">
          {% include '@atoms/text/a-text.html.twig' with {
            attributes: create_attribute().addClass('m-pager__text'),
            content: '&hellip;',
            tag: 'div',
            type: 'a-text--body-1-regular',
          } %}
        </li>
      {% endif %}
      {% for key, item in items.pages %}
        <li class="m-pager__item{{ current == key ? ' m-pager__item--active' : '' }}">
          {% if current == key %}
            {% set title = 'Current page'|t %}
          {% else %}
            {% set title = 'Go to page @key'|t({'@key': key}) %}
          {% endif %}
          {% set page_link_classes = 'm-pager__link' %}
          {% if current == key %}
            {% set page_link_classes = page_link_classes ~ ' m-pager__link--active' %}
          {% endif %}
          <a href="{{ item.href }}" title="{{ title }}"{{ item.attributes.addClass(page_link_classes)|without('href', 'title') }}>
            <span class="visually-hidden">
              {{- current == key ? 'Current page'|t : 'Page'|t -}}
            </span>
            {% include '@atoms/text/a-text.html.twig' with {
              attributes: create_attribute().addClass('m-pager__text'),
              content: key,
              tag: 'span',
              type: current == key ? 'a-text--body-1-bold' : 'a-text--body-1-regular',
            } %}
          </a>
        </li>
      {% endfor %}
      {% if ellipses.next %}
        <li class="m-pager__item" role="presentation">
          {% include '@atoms/text/a-text.html.twig' with {
            attributes: create_attribute().addClass('m-pager__text'),
            content: '&hellip;',
            tag: 'div',
            type: 'a-text--body-1-regular',
          } %}
        </li>
      {% endif %}
    </ul>
    <div class="m-pager__controls">
      <div class="m-pager__item{% if not items.next %} %} m-pager__item--inactive{% endif %}">
        {% if items.next %}
          <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes.addClass('m-pager__link')|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Next page'|t }}</span>
        {% endif %}
        {% include '@atoms/icon/a-icon.html.twig' with {
          attributes: create_attribute().addClass('m-pager__icon'),
          icon: 'chevron',
          skilld_svg_sprite: skilld_svg_sprite,
        } only %}
        {% if items.next %}
          </a>
        {% endif %}
      </div>
      <div class="m-pager__item{% if not items.last %} m-pager__item--inactive{% endif %}">
        {% if items.last %}
          <a href="{{ items.last.href }}" title="{{ 'Go to last page'|t }}"{{ items.last.attributes.addClass('m-pager__link')|without('href', 'title') }}>
            <span class="visually-hidden">{{ 'Last page'|t }}</span>
        {% endif %}
        {% include '@atoms/icon/a-icon.html.twig' with {
          attributes: create_attribute().addClass('m-pager__icon'),
          icon: 'arrow',
          skilld_svg_sprite: skilld_svg_sprite,
        } only %}
        {% if items.last %}
          </a>
        {% endif %}
      </div>
    </div>
  </nav>
{% endif %}
